/*
    HECTOR ALCAZAR 
*/

// Colors
$black: #000;
$black-opacacy: rgba(0,0,0,0.4);
$color-light-gray: #ebebeb;
$white: #fff;
$gray:  rgba(28, 170, 163, 0.8);
$gray_hex: #1caaa3;
$orange_hex: #f3a929;
$orange: rgba(243, 169, 41, 0.8);
$gray-pope: rgb(71, 71, 72, 0.45);
$gray-black: rgba(112, 112, 112, 0.302);
//Fonts
$Lato:  'Lato', sans-serif;
$text-main-color: #333333;
$white-opacacy: rgba(255, 255, 255, 0.65);


//Sizes
$size_primary_font: 16px;
$size_primary_line: 16px;
$size_title_desktop: 32px;
$size_menu_desktop: 16px;
$size_slidebox_desktop: 16px;
$size_slideboxbig_desktop: 60px;
$size_slidebox_text_desktop: 21px;
$headline_slidebox_text_desktop: 24px;



//Hamburguer
$buttonWidth: 24px;
$buttonHeight: 20px;
$gray: rgb(28,170,163);
$gray_opa: rgba(28,170,163,0.8);
$lineThickness: 4px;
$transitionSpeed: .25s;
$transitionEasing: ease-in-out;
